/* globals.scss */

body {
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;

  background-color: #ffffff;

  height: 100vh;
}

/* плавные анимации для UI элементов */
input,
button,
a {
  transition: all 0.2s ease;
}

/* focus для доступности */
:focus-visible {
  outline: 2px solid #000;
  outline-offset: 3px;
}

/* root контейнер */
#root {
  width: 100%;
}
