/* normalize.scss */

/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* убираем отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
  color: #000000;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 15px;
}
h3 {
  font-size: 13px;
  font-weight: 600;
}
p {
  font-size: 11px;
}

a {
  text-decoration: none;
}

/* списки */
ul,
ol {
  list-style: none;
}

/* ссылки */
a {
  text-decoration: none;
  color: inherit;
}

/* изображения */
img {
  height: auto;
  object-fit: cover;
}

/* формы */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
}

/* кнопки */
button {
  background: none;
  cursor: pointer;
}
