.button {
  background-color: #1877f2;
  color: #fff9f9;
    width: 50vh;
   
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;

  p {
    color: #aea9a9;
  }
}
.divPassword {
  position: relative;
  align-items: center;
}
.inputPassword {
  width: 100%;
}

.icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 33px;
  height: auto;
}
.link {
  color: #1877f2;
  font-weight: 600;
  font-size: 13px;
}
.layoutText {
  display: flex;
  gap: 3px;
  align-items: center;
    padding-top: 20px;
}
.layoutForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 40px;
  padding-bottom: 58px;
}
